/* Retro Theme Colors from Coolers.io */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

body {
    background-color: rgb(236, 236, 236);
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1%;
    background-color: black;
    border-bottom: solid 5px rgb(35, 147, 151);
}

header h1 {
    display: inline-block;
    color: white;
    background-color: rgb(35, 147, 151);
    border-radius: 5px;
    box-shadow: 10px 5px 5px #F58311;
    width: 300px;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 10px
}

/* Nav Bar */
.nav_links {
    list-style: none;
}

.nav_links li, a{
    display: inline-block;
    padding: 1px 5px; 
    position: relative;
    top: 5px;
    font-family: poppins;
    color: white;
    text-decoration: none;
}

.nav_links li a:hover {
    color: rgb(35, 147, 151);
}

li, a {
    list-style-type: none;
}

/* Hero Image and Text */
.profile-headshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: poppins;
    color: white;
    font-weight: bold;
    padding: 20px 10px;
    margin: 15px 20px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(35, 147, 151);
    box-shadow: 10px 10px #F58311;
    
}


.profile-headshot img {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 100px;
    margin: 20px;
    display: inline-block;
}



/* Main Sections - Flex Everything or Inline Block with flex or inline-block within?*/

.section-container {
    background-color: rgb(35, 147, 151);
    color: rgb(7, 7, 7);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 5fr;
    border: 2px solid black;
    margin: 0px 20px;
    box-shadow: 10px 10px #F58311;
    border-radius: 50px;
    
}

.title-card {
    border-right: 2px solid black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    flex-flow: row, wrap;
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
}

.title-card:hover {
    color: #F58311;
}

.display-card {
    text-align: center;
    color: white;
    padding-right: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    font-family: poppins, Arial, Helvetica, sans-serif;

}


.work-card-container {
    background-color: white;
    border: 5px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    border-radius: 5px;
}

.work-card {
    background-color: grey;
}

.main-project {
    background-image: url('./surf_wave.avif');
    background-color: white;
    box-shadow: 0px 10px black;
    background-size: 100;
    background-position: center;
    background-repeat: no-repeat;
    order: -1;
    flex-grow: 1;
    height: 300px;
    width: 90%;
    
}

.card-content {
    color: black;
    background-color: white;
    font-family: poppins, Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.main-project:hover {
    opacity: .5;
    box-shadow: 0px 10px #F58311;
}

.small-card {
    background-color: white;
    background-size: 100;
    background-position: center;
    background-repeat: no-repeat;
    outline: 2px solid black;
    margin: 30px 20px;
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px #888888;
}

.small-card:hover {
    opacity: .5;
    box-shadow: 10px 10px #F58311;
}

.small-project-1 {
    background-image: url('./surf_wave.avif');

}

.small-project-2 {
    background-image: url('./surf_wave.avif');

}

.small-project-3 {
    background-image: url('./surf_wave.avif');
   
}

.small-project-4 {
    background-image: url('./surf_wave.avif');
 

footer>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 15px;
}

footer>ul>a:hover {
    color: black;
}

/* Media Querie Notes
At phone width, make content-title classes display over display-card class.
change border-right to border-bottom.  Text-align and Flex center.
Switch contact information links to flex-column*/

/* nav bar to align below header h1 */

